<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - University Management System</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Css", required: false)
    
</head>
<body>

    <nav class="navbar navbar-inverse navbar-fixed-top ">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">@Html.ActionLink("UMS", "Index", "Home", null, new { @class = "navbar-brand" })</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        Add
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Department", "Save", "Department")</li>
                        <li>@Html.ActionLink("Course", "Save", "Course")</li>
                        <li>@Html.ActionLink("Teacher", "Save", "Teacher")</li>
                        <li>@Html.ActionLink("Student", "Save", "Student")</li>


                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                       View
                        <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu">
                        <li>@Html.ActionLink("Department", "GetDepartments", "Department")</li>
                        <li>@Html.ActionLink("AssignCourse", "CourseDetails", "Course")</li>
                    </ul>
                </li>
                <li>@Html.ActionLink("Assign Course", "Save", "AssignCourse")</li>
                <li>@Html.ActionLink("Enroll Course", "EnrollCourse", "Student")</li>
                <li>@Html.ActionLink("Result", "StudentResult", "Student")</li>
                <li>@Html.ActionLink("Result View", "ResultView", "Student")</li>
                <li>@Html.ActionLink("Allocate Classroom", "Save", "AllocateClassroom")</li>
            </ul>
        </div>
    </nav>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p class="text-center">&copy; @DateTime.Now.Year - University Management System</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
