@model UniversityManagementSystem.Models.Course
@{
    ViewBag.Title = "Create Course";
  
}

<br />
<hr />
@if (@ViewBag.Message != null)
{
    <p>@ViewBag.Message</p>
}
<hr />
<div>
    @using (Html.BeginForm(null, "Course", FormMethod.Post, new { id = "CourseRegistration" }))
    {
        <table>
            <tr>
                <td>@Html.LabelFor(x => x.Code)</td>
                <td>
                    @Html.TextBoxFor(x => x.Code)
                    @Html.ValidationMessageFor(x => x.Code)
                </td>

            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.Name)</td>
                <td>
                    @Html.TextBoxFor(x => x.Name)
                    @Html.ValidationMessageFor(x => x.Name)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.Credit)</td>
                <td>
                    @Html.TextBoxFor(x => x.Credit)
                    @Html.ValidationMessageFor(x => x.Credit)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.Description)</td>
                <td>
                    @Html.TextAreaFor(x => x.Description)
                    @Html.ValidationMessageFor(x => x.Description)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.DepartmentId)</td>
                <td>
                    @Html.DropDownListFor(x => x.DepartmentId, new SelectList(ViewBag.Departments, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.DepartmentId)
                </td>
            </tr>

            <tr>
                <td>@Html.LabelFor(x => x.SemesterId)</td>
                <td>
                    @Html.DropDownListFor(x => x.SemesterId, new SelectList(ViewBag.Semesters, "Value", "Text"))
                    @Html.ValidationMessageFor(x => x.SemesterId)
                </td>
            </tr>
            <tr>
                <td><input type="submit" value="Save" /></td>
            </tr>

        </table>
    }

</div>

